$cor-principal: #0080FF;
$cor-secundaria: #CD1131;
$cor-background: #F3F3F3;
$cor-texto: #000000;
$cor-texto2: #f2f2f2;
$tamanho-fonte: 1.5rem;
$tamanho-fonte-titulo: 3rem;
$tamanho-fonte-subtitulo: 2rem;
$fonte: cursive;
$card-red:#B61111;
