@import '../abstract/variaveis';

.cabecalho{
    background-color: $cor-principal;
    padding: 1.5rem 2rem;
    .container{
        display: flex;
        justify-content: space-between;
        .imagem__cabecalho{
            width: 4.5%;
        }
        .cabecalho__nav{

            
            .cabecalho__ul{
                display: flex;
                .cabecalho__li{
                    list-style: none;
                    .cabecalho__link{
                        text-decoration: none;
                        margin: 1rem;
                        color: $cor-texto2;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: $fonte;
                        &:hover{
                            color: $cor-texto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .cabecalho{
        padding-left: .2rem;
        .container{
            .imagem__cabecalho{
                display: none;
            }
            .cabecalho__nav{
                .cabecalho__ul{
                    display: table-header-group;
                    .cabecalho__li{
                        .cabecalho__link{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}