@import '../abstract/variaveis';

.conteudo__principal{
    background-color: $cor-background;
    .apresentacao{
        display: flex;
        justify-content: space-between;
        padding: 6rem 2rem;
        .titulo__apresentacao{
            flex-wrap: wrap;
            font-size: $tamanho-fonte-titulo;
            font-family: $fonte;
            max-width: 680px;
            &::after{
                content: '|';
                margin-left: 5px;
                opacity: 1;
                animation: pisca .7s infinite;
            }
        }
        .imagem__apresentacao{
            width: 35%;
        }



    }
    #sobre__mim{
        .titulo__sobre--mim{       
            text-align: center;
            font-size: $tamanho-fonte-titulo;
            font-family: $fonte;
            margin-bottom: 2rem;
        }
        .imagem__sobre--mim{
            float: left;
            width: 17%;
            margin-left: 1rem;
            margin-right: 2rem;
        }

        .texto__sobre--mim{
            font-size: $tamanho-fonte;
            font-weight: bold;
            font-family: $fonte;
        }
    }

    #experiencia{
        clear: left;
        .titulo__experiencia{
            font-size: $tamanho-fonte-titulo;
            font-family: $fonte;
            text-align: center;
        }
        .texto__experiencia{
            font-size: $tamanho-fonte;
            font-family: $fonte;
            font-weight: bold;
            padding: 3rem 1rem;
            text-align: center;
        }
    }



    #projetos{
        .titulo__projetos{
            text-align: center;
            font-family: $fonte;
            font-size: $tamanho-fonte-titulo;
        }

        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            .card{
                border-radius: 5px;
                box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
                padding-top: 3px;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 30px;
                margin: 5px;
                max-width: 400px;
                max-height: 400px;
                transition: all 0.3s ease-out;
                &:hover{
                    transform: translateY(-5px);
                    cursor: pointer;
                }
                .imagem__card{
                    float: right;
                    max-width: 60px;
                    max-height: 60px;
                }

                .titulo__card{
                    font-size: 20px;
                    font-family: $fonte;
                    font-weight: bold;
                }
                .texto__card{
                    font-family: $fonte;
                }
                .link__card{
                    text-decoration: none;
                    color: $cor-texto2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .2rem;
                    border: 2px solid $cor-principal;
                    font-family: $fonte;
                    font-size: 15px;
                    background-color: $cor-principal;
                }
            }
            .hotel,.aluramidi,.negociacoesTS,.flash{
                border-left: 3px solid $cor-principal;
            }
        }


    }

    #formacao{

        .titulo__formacao{
            font-size: $tamanho-fonte-titulo;
            font-family: $fonte;
            text-align: center;
            padding: 1rem;
        }

        .card__formacao{

            display: flex;
            justify-content: space-around;
            .card__sale,.card__alura{
                border-radius: 5px;
                box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
                padding-top: 3px;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 30px;
                margin: 5px;
                max-width: 40%;
                max-height: 500px;
                transition: all 0.3s ease-out;
                .sub--titulo__formacao{
                    font-size: $tamanho-fonte-subtitulo;
                    font-family: $fonte;
                    padding-left: 0.5rem;
                }
        
                .texto__formacao{
                    font-size: 20px;
                    font-family: $fonte;
                    padding-left: 2rem;
                }
            }
        }

        
    }
    #contato{
        padding: 2rem;
        .titulo__contato{
            font-size: $tamanho-fonte-titulo;
            font-family: $fonte;
            text-align: center;    
        }
        .texto__contato{
            font-size: $tamanho-fonte;
            font-family: $fonte;
            padding: 1rem;
            text-align: center;
        }

        .container__contato{
            display: flex;
            justify-content: space-around;
            .link__git{
                width: 80px;
                .imagem__git{
                    width: 100%;
                }
                &:hover{
                    width: 85px;
                    transition: .5s;
                }
            }
            .link__linkedin{
                width: 80px;
                .imagem__linkedin{
                    width: 100%;
                }
                &:hover{
                    width: 85px;
                    transition: .5s;
                }
            }
        }

    }
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@media screen and (max-width: 768px){
    .conteudo__principal{
        .apresentacao{
            padding: 5rem 2rem;
            .titulo__apresentacao{
                flex-wrap: nowrap;
                font-size: 2.5rem;
            }
            
            .imagem__apresentacao{
                display: none;
            }
        }
        #sobre__mim{
            .imagem__sobre--mim{
                width: 30%;
                margin-left: .5rem;
                margin-right: 1rem;
            }
            .texto__sobre--mim{
                font-size: 1.2rem;
            }
        }

        #projetos{
            .row{
                flex-wrap: wrap;
                .card{
                    margin: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .conteudo__principal{
        .apresentacao{
            .titulo__apresentacao{
                flex-wrap: nowrap;
                font-size: 2.8rem;
            }
            
            .imagem__apresentacao{
                width: 45%;
            }
        }

        #projetos{
            .row{
                .card{
                    padding: 1rem;
                    max-height: 500px;
                    .imagem__card{
                        display: none;
                    }
                    .titulo__card{
                        font-size: 15px;
                        text-align: center;
                    }
                    .texto__card{
                        text-align: center;
                    }
                }
            }
        }
    }
}
