@import'../abstract/variaveis';

.rodape{

    padding: 3rem;
    background-color: $cor-principal;
    display: flex;
    justify-content: space-around;
    .imagem__rodape{
        float: left;
        width: 6%;

    }
    .copyright{
        color: $cor-texto2;
        text-align: center;
        font-size: $tamanho-fonte;
        font-family: $fonte;
    }


}